@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


*{
    font-family: 'Comfortaa', cursive;
}

.todo-list {
    color: rgb(0, 0, 0);
    }
    
    .todo-list input[type='text'] {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    margin-right: 10px;
    }
    
    .todo-list button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: rgb(212, 252, 212);
    color: rgb(27, 26, 26);
    border: none;
    cursor: pointer;
    }
    
    .todo-list button:hover {
    background-color: #c7c799;
    }
    
    .todo-list ul {
    list-style-type: none;
    padding: 0;
    }
    
    .todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }
    
    .todo-list li.completed span {
    text-decoration: line-through;
    color: #aaa;
    }
    
    .todo-list li button {
    margin-left: auto;
    }

    .TodoListCard {
    background-color: rgb(212, 252, 212);
    box-shadow: inset 0 -3em 3em rgba(205, 195, 195, 0.1),
    0 0  0 10px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);;
    }

    .todosh1 {
        font-size: 50px;
    }

    body {
        background-color: #ffffe8;
    }